.row-counter{
    background-color: rgb(7,7,7);
    border-radius: 10px;
      height: 100px;
   }
   .clock{
       font-size: 40px;
       margin: 15px;
   
   }
   .seconds{
       margin: 15px;
   }
   .col {
       background-color: rgb(16,16,16);
       border-radius: 10px;
   }
   